/* Tooltip module */
:root {
  --tooltip-bg: #1e293b;
  --tooltip-color: #fff;
}

.dark {
  --tooltip-bg: #ec4899;
  --tooltip-color: #fff;
}
/* START TOOLTIP STYLES */
[data-tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 0.9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /* 
  Let the content set the size of the tooltips 
  but this will also keep them from being obnoxious
  */
  @apply font-sans text-xs shadow-lg;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.5ch;
  color: var(--tooltip-color);
  background-color: var(--tooltip-bg);
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus-visible::before,
[data-tooltip]:focus-visible::after {
  display: block;
}

/* don't show empty tooltips */
[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[data-tooltip]:not([data-tooltip-position])::before,
[data-tooltip][data-tooltip-position^='up']::before {
  color: var(--tooltip-bg);
  bottom: calc(100% + 8px);
  border-bottom-width: 0;
  border-top-color: currentColor;
}
[data-tooltip]:not([data-tooltip-position])::after,
[data-tooltip][data-tooltip-position^='up']::after {
  bottom: calc(100% + 13px);
}
[data-tooltip]:not([data-tooltip-position])::before,
[data-tooltip]:not([data-tooltip-position])::after,
[data-tooltip][data-tooltip-position^='up']::before,
[data-tooltip][data-tooltip-position^='up']::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[data-tooltip][data-tooltip-position^='down']::before {
  color: var(--tooltip-bg);
  top: 100%;
  border-top-width: 0;
  border-bottom-color: currentColor;
}
[data-tooltip][data-tooltip-position^='down']::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-tooltip-position^='down']::before,
[data-tooltip][data-tooltip-position^='down']::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[data-tooltip][data-tooltip-position^='left']::before {
  color: var(--tooltip-bg);
  top: 50%;
  border-end-width: 0;
  border-start-color: currentColor;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[data-tooltip][data-tooltip-position^='left']::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[data-tooltip][data-tooltip-position^='right']::before {
  color: var(--tooltip-bg);
  top: 50%;
  border-start-width: 0;
  border-end-color: currentColor;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[data-tooltip][data-tooltip-position^='right']::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[data-tooltip]:not([data-tooltip-position]):hover::before,
[data-tooltip]:not([data-tooltip-position]):hover::after,
[data-tooltip][data-tooltip-position^='up']:hover::before,
[data-tooltip][data-tooltip-position^='up']:hover::after,
[data-tooltip][data-tooltip-position^='down']:hover::before,
[data-tooltip][data-tooltip-position^='down']:hover::after,
[data-tooltip]:not([data-tooltip-position]):focus-visible::before,
[data-tooltip]:not([data-tooltip-position]):focus-visible::after,
[data-tooltip][data-tooltip-position^='up']:focus-visible::before,
[data-tooltip][data-tooltip-position^='up']:focus-visible::after,
[data-tooltip][data-tooltip-position^='down']:focus-visible::before,
[data-tooltip][data-tooltip-position^='down']:focus-visible::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[data-tooltip][data-tooltip-position^='left']:hover::before,
[data-tooltip][data-tooltip-position^='left']:hover::after,
[data-tooltip][data-tooltip-position^='right']:hover::before,
[data-tooltip][data-tooltip-position^='right']:hover::after,
[data-tooltip][data-tooltip-position^='left']:focus-visible::before,
[data-tooltip][data-tooltip-position^='left']:focus-visible::after,
[data-tooltip][data-tooltip-position^='right']:focus-visible::before,
[data-tooltip][data-tooltip-position^='right']:focus-visible::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
